<%- include('../partials/header') %>

<section class="edit-trip">
  <h2>Edit Trip</h2>
<br><br>
<form action="/trips/<%= trip.id %>?_method=PUT" method="POST">
  <input type="text" name="name" value="<%= trip.name %>" placeholder="Country" required>
  <br><br>
  <input type="date" name="from" value="<%= trip.from %>" placeholder="From" required>
  <br><br>
  <input type="date" name="to" value="<%= trip.to %>" placeholder="To" required>
  <br><br>
  <input type="text" name="sites" value="<%= trip.sites %>" placeholder="Where I've been" required>
  <br><br>
  <input type="text" name="learn" value="<%= trip.learn %>" placeholder="What I've learned" required>
  <br><br>
  <input type="text" name="image" value="<%= trip.image %>" required>
  <button type="submit">Edit Trip</button>
</form>
</section>

<%- include('../partials/footer') %>