<%- include('../partials/header') %>

<section class="all-trips-section">

<h2>Places I’ve been 🗺️</h2>
<br><br>

<div class="card-container">
  <% trips.forEach(function(trip) { %>
    <% if (user) { %>
    <a href="/trips/<%= trip._id %>">
    <% } %>
      <div class="travel-card">
        <img src="<%= trip.image %>" alt="<%= trip.name %> picture">
        <h3><%= trip.name %></h3>
          <div class="trip-date">
            <p><span>From</span> <%= trip.from.toLocaleDateString() %></p>
            <p><span>To</span> <%= trip.to.toLocaleDateString() %></p>
          </div>
      </div>
      </a>
    <% }); %>
  </div>

</section>


<%- include('../partials/footer') %>