<%- include('../partials/header') %>

<section>
  <div>Country </div>
  <div><%= trip.name %></div>
  <div>From: </div>
  <div><%= trip.from %></div>
  <div>To: </div>
  <div><%= trip.to %></div>
  <div>What I've learned: </div>
  <div><%= trip.learn %></div>
</section>

<%- include('../partials/footer') %>
