<%- include('../partials/header') %>

<section class="big-card-trip">
  <div class="trip-left">
    <a href="/trips">< Back</a>
  <h1><%= trip.name %></h1>
  <br>
  <div class="trip-date-card">
    <div>
      <h4>From: &nbsp</h4>
      <p> <%= trip.from.toLocaleDateString() %></p>
    </div>
    &nbsp
    &nbsp
    <div>
      <h4>To: &nbsp </h4>
      <p> <%= trip.to.toLocaleDateString() %></p>
    </div>
  </div>
  <br>
   <h4>Places I've been: </h4>
  <p><%= trip.sites %></p>
  <br>
  <h4>What I've learned: </h4>
  <p><%= trip.learn %></p>

  <br><br>
    <div class="trip-action">
      <% if (user?._id.equals(trip.user)) { %>
        <a href="/trips/<%= trip.id %>/edit">Update</a>
        <br><br>
        <form 
            action="/trips/<%= trip.id %>?_method=DELETE" 
            method="POST"
            >
            <button type="submit">Delete</button>
        </form>
        <% } else {%>
            <div class="trip-creator">
              <img src=" <%= trip.userAvatar %>" alt="<%= trip.userName %> avatar" referrerpolicy="no-referrer">
              <p> &nbsp <%= trip.userName %> </p>
            </div>
        <% }%>
    </div>
  </div>
  <div class="trip-right">
      <img src="<%= trip.image %>" alt="<%= trip.name %> picture">
  </div>

</section>

<br><br>

<section class="add-friends">
  <div class="friend-page">
  <h3>Friends</h3>
      <% friends.forEach(function(friend) { %>
      <div class="friend-info">
      <img src="<%= friend.picture %>" alt="<%= friend.name %> picture">
      <p><%= friend.name %></p>
      <p><%= friend.email %></p>
    </div>
    <% }) %>
</div>
<br><br>
  <form action="/trips/<%= trip._id %>/friends" method="POST">
      <input type="text" name="name" placeholder="Name">
  <br>
	    <input type="text" name="email" placeholder="Email">
  <br>
	    <input type="text" name="picture" placeholder="Picture">
  <br>
	<button type="submit">Add a friend</button>
</form>
</section>

<%- include('../partials/footer') %>
